@mixin padding-page {
   padding: 30px 100px;
}
@mixin padding-tablette {
   padding-right: 35px;
   padding-left: 35px;
}
@mixin padding-page-mobile {
   padding: 30px 35px;
}
@mixin flex-column {
   display: flex;
   flex-direction: column;
}

$color-primary: #8c6c3d;
$color-secondary: #00ced1;
$color-tertiary: #ffff;
$color-quaternary: black;

$mobile: 425px;
$tablette: 768px;
$little-desktop: 1024px;

// Organisation des propriétes : Position & Agencement, Taille & Espacement, Texte & Couleur, et Visibilité & Effets.

* {
   box-sizing: border-box;
   margin: 0;

   font-family: "GratiaSansRegular", sans-serif;
   a {
      text-decoration: none;
   }
}

html {
   scroll-padding-top: 60px; // Permet d'éviter que le header en position fixed chevauche les sections de la pages au clic sur la nav. (On lui donne la height du header)

   font-size: 62.5%; // Permet d'utiliser les em sur une base 10
   color: $color-tertiary;
}

.header {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;

   width: 100%;
   padding: 20px 100px;

   font-size: 1.8em;
   color: $color-tertiary;
   background-color: $color-primary;
   @media screen and (max-width: $tablette) {
      @include padding-tablette;
      padding-top: 20px;
      padding-bottom: 20px;
   }
   &__nom {
      color: $color-tertiary;
   }
   &__navbar {
      display: flex;

      color: $color-tertiary;
      @media screen and (max-width: $tablette) {
         display: none;
      }
      &--active {
         @media screen and (max-width: $tablette) {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            padding: 0;
            height: 100vh;
            width: 100%;

            background-color: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(1px);
            .header__navbar__item__link {
               color: $color-quaternary;
               &:hover {
                  color: $color-primary;
                  text-decoration: $color-primary underline;
               }
            }
         }
      }
      &__item {
         list-style: none;
         &__link {
            padding-right: 10px;

            color: $color-tertiary;
            &:hover {
               color: $color-secondary;
               text-decoration: underline $color-secondary;
               text-underline-offset: 10px;
            }
         }
      }
   }
   &__hamburger {
      display: none;
      @media screen and (max-width: $tablette) {
         display: inline-block;
         position: absolute;
         right: 20px;
      }
   }
}

.main {
   padding: 0;
}

.banniere {
   display: flex;

   width: 100%;
   height: 100vh;
   padding: 60px 100px 0px 100px;

   background: linear-gradient($color-primary, rgb(147, 117, 80));
   @media screen and (max-width: $little-desktop) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }
   @media screen and (max-width: $tablette) {
      @include padding-tablette;
   }
   @media screen and (max-width: $mobile) {
      height: auto;
   }
   &__texte {
      align-self: center;

      width: 50%;

      color: $color-tertiary;
      @media screen and (max-width: $little-desktop) {
         width: 100%;
         max-height: 50%;
      }
      @media screen and (max-width: $mobile) {
         display: flex;
         flex-direction: column;
         justify-content: center;

         height: calc(100vh - 60px);
      }
      &__titre {
         margin-top: 0;

         font-size: 4.6em;

         @media screen and (max-width: $little-desktop) {
            text-align: center;
         }
         @media screen and (max-width: $tablette) {
            font-size: 2.9em;
         }
         @media screen and (max-width: $mobile) {
            font-size: 3.6em;
         }
      }
      &__desc {
         margin-bottom: 2em;

         font-size: 2em;
         @media screen and (max-width: $little-desktop) {
            text-align: center;
         }
      }
      &__bouton {
         padding: 0.7em 3em;
         border-radius: 1.5em;

         font-size: 2em;
         color: $color-tertiary;
         background-color: $color-secondary;
         @media screen and (max-width: $little-desktop) {
            display: block;

            text-align: center;
         }
      }
   }
   &__img {
      object-fit: contain;

      width: 50%;
      padding-left: 20px;
      @media screen and (max-width: $little-desktop) {
         width: 100%;
         max-height: 50%;
      }
      @media screen and (max-width: $mobile) {
         display: none;
      }
   }
}

.projets {
   @include flex-column;

   @include padding-page;
   width: 100%;

   background-color: $color-tertiary;
   background-image: url(../assets/vagues_1.webp);
   @media screen and (max-width: $tablette) {
      @include padding-tablette;
   }
   @media screen and (max-width: $mobile) {
      @include padding-page-mobile;
   }
   &__entete {
      @include flex-column;

      align-items: center;
      color: $color-quaternary;
      &__desc {
         margin-bottom: 15px;

         color: $color-primary;
         font-size: 1.4em;
      }
   }
   .projet {
      display: flex;
      justify-content: space-evenly;

      margin-bottom: 50px;

      @media screen and (max-width: $tablette) {
         flex-direction: column;

         height: calc(100vh - 60px);
         border-top: 0.5px solid $color-primary;
      }
      &__caroussel {
         position: relative;
         display: flex;
         justify-content: center;

         width: 100%;
         height: 73vh;
         max-height: 600px;
         margin: 30px 30px 30px 0;

         border-radius: 20px;
         background: rgba(0, 0, 0, 0.07); /* Dégradé léger */
         overflow: hidden;
         box-shadow: 17px 14px 20px 0px rgb(165, 165, 165);
         @media screen and (max-width: $tablette) {
            height: 100%;
         }
         &:hover .arrow-left,
         &:hover .arrow-right {
            opacity: 85%;
         }
         &__link__img {
            object-fit: contain;

            width: 100%;
            height: 100%;

            align-content: center;
         }
         .arrow-left,
         .arrow-right {
            position: absolute;

            width: 50px;
            border-radius: 10px;

            background-color: $color-primary;

            opacity: 75%;
            transition: opacity 0.4s;
            cursor: pointer;
            svg {
               width: 100%;
               height: 100%;

               color: $color-tertiary;
            }
         }
         .arrow-left {
            top: 40%;
            left: 0.5em;
         }
         .arrow-right {
            top: 40%;
            right: 0.5em;
         }
      }
      &__txt {
         align-self: center;

         width: 100%;
         max-height: 73vh;
         min-height: 200px;
         padding: 1em;
         border-radius: 2em;

         background-color: $color-primary;
         line-height: 16px;
         font-size: 1.4em;
         letter-spacing: 0.5px;
         @media screen and (max-width: $tablette) {
            height: auto;
            min-height: auto;
            max-height: none;
         }
         &__titre {
            padding: 0;
            justify-self: center;

            font-size: 20px;
         }
         &__desc {
            padding: 14px 25px 0px 25px;
            &__li {
               padding-bottom: 7px;
            }
         }
      }
   }
}

.titre-section {
   align-self: center;

   margin-bottom: 0.5em;

   font-size: 4em;
   @media screen and (max-width: $tablette) {
      font-size: 3em;
   }
}

.competences {
   @include flex-column;

   padding: 30px 250px;

   background-color: $color-primary;
   @media screen and (max-width: $little-desktop) {
      @include padding-page;
   }
   @media screen and (max-width: 500px) {
      justify-content: center; // à mettre des tablette voir plus ?

      padding: 30px 0;
   }
   &__logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      margin-top: 30px;
      .skill {
         padding: 17px;
         margin: 10px 45px;
         border-radius: 50%;

         background-color: $color-tertiary;
         &:hover {
            box-shadow: 10px 10px 10px rgb(20, 20, 20);
            transform: scale(1.11);
            transition-duration: 0.2s;
         }
         &__img {
            width: 70px;
            height: 70px;
         }
      }
   }
}

.contact {
   @include flex-column;

   @include padding-page;
   color: $color-quaternary;

   background-color: $color-tertiary;
   background-image: url(../assets/vagues_1.webp);
   @media screen and (max-width: $tablette) {
      @include padding-tablette;
   }
   @media screen and (max-width: $mobile) {
      @include padding-page-mobile;
   }
   &__txt {
      align-self: center;

      margin: 10px 0;

      font-size: 1.7em;
   }
   &__logos {
      display: flex;
      align-self: center;
      &__logo {
         width: 50px;
         margin: 30px;
         &:hover {
            transform: scale(1.05);
            transition-duration: 0.2s;
         }
      }
   }
}

.footer {
   @include flex-column;
   justify-content: space-around;

   @include padding-page;

   text-align: center;
   color: $color-tertiary;
   background-color: $color-primary;
   @media screen and (max-width: $tablette) {
      @include padding-tablette;
   }
   @media screen and (max-width: $mobile) {
      @include padding-page-mobile;
   }
   &__copyright {
      margin-bottom: 20px;

      font-size: 1.9em;
   }
   &__credits {
      font-size: 1.5em;
   }
}
